
.hero-pic{
  height: 650px;
}

.feature-pic{
  height: 600px;
  background-position: center;
  background-size: contain;
  height: 100%;
}

.feature-item:hover .feature-body{
  opacity: 1;
}

.feature-body{
  position: absolute;
  top:0;
  bottom: 0;
  left: 11px;
  right : 0;
  background-color: rgba(0,0,0,.6);
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .5s;
}


.card-body:hover .card-info{
  left: 0;
}


.card-info{
  position: absolute;
  top: 0;
  left: -200%;
  padding: 30px;
  height: 100%;
  width: 100%;
  text-transform: capitalize;
  transition: 1s;
}

.card-body:hover .card-info-right{
  right: 0;
}


.card-info-right{
  position: absolute;
  top: 0;
  right: -200%;
  padding: 30px;
  height: 100%;
  width: 100%;
  text-transform: capitalize;
  transition: 1s;
}


.card-title{
  font-size: 80px;
}




