.logo img{
    width: 104px;
    height: 104px;
}



.cart-pic{
    width: 120px;
    height: 120px;
}

.footer-pic{
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}


.nav-menu-item{
    width: 220px;
}

