.logo img{
    width: 104px;
    height: 104px;
    @include text-hide;
}




.cart-pic{
    width: 120px;
    height: 120px;
}

.footer-pic{
    height: 30px;
    display: inline-block;
    margin-right: 10px;
}


.nav-menu-item{
    width: 220px;
}


.back_top{
    position: absolute;
    position: fixed;
    right: 30px;
    bottom: 100px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}


.nav-item:hover {
    color :$primary;
    border-bottom: 2px solid $primary;
}