.order-progress{
    width: 600px;
    margin: 0 auto;
}

.order-pic{
    width: 100px;
    height: 100px;
}

.final-check{
    font-size: 50px !important;
    width: 70px;
    height: 70px;
    border: 10px solid;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    padding-top: 8px;
}

.order-final-body{
    width: 600px;
}