

@mixin mobile{
    @media( min-width: 375px){
        @content;
    }
}


// 消除logo文字
@mixin text-hide{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

// @include mobile{
//     color: red;
// }